@{
    ViewData["Title"] = "Principal";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al Test <b> Encode</b></h1>
    <a class="btn btn-primary" href="@Url.Action("Index", "Subscriptions")">Suscripciones</a>


</div>
